 *		{ margin: 0; padding: 0; }
body		{ font-family: Georgia, serif; background: url(../img/body.png) #000000; color: #000000;font-size: 16px; }
text 		{ font-family: Georgia, serif; background: url(../img/body.png) #000000; color: #000000;font-size: 16px; }

.clear		{ clear: both; }

form		{ width: 200px; margin: 50px auto 0; }

legend		{ display: none; }

fieldset	{ border: 5px solid color: #c77000;
			-moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
			-webkit-border-radius: 5px; width: 260px; color: #c77000;;
		}

label		{ text-align: left; font-size: 12px;}

input		{  font-size: 12px;
			color: #3a3a3a; font-family: Georgia, serif;
			border: 3px solid #999;
			-moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
			-webkit-border-radius: 5px;
		}

.ui-input-text	{ background: url(../img/button.png) repeat-x top center; border: 2px solid #999;
			-moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
			-webkit-border-radius: 5px; font-size: 12px;  width: 80px; }
					  
.ui-button-text	{ background: url(../img/button.png) repeat-x top center; border: 2px solid #999;
			-moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
			-webkit-border-radius: 5px; font-size: 12px;  width: 120px; }
.ui-button-text:hover	{ background: url(../img/button_hover.png) repeat-x top center; color: white; }
.ui-button-text:active	{ position: relative; top: 0px;border: 4px solid #999;padding: 3px;}
#spinner        {position:absolute;}
#title          {color: #c77000;font-size: 24px; }
#notifications  {-moz-border-radius: 5px; padding: 5px; -webkit-border-radius: 5px;}
#menu_buttons   {position:absolute;width:90px;top:1em;left:0em;}
#explorer        {left:6em;top:2.5em;}
#debug        	{white-space: pre-wrap;}

#mtgox_feed     {-moz-border-radius: 5px; padding: 5px; -webkit-border-radius: 5px;font-size: 16px;}

#pids     	{-moz-border-radius: 5px; padding: 5px; -webkit-border-radius: 5px;font-size: 14px;font-family: Courier New, monospace;}

#gene_def_calc	{}
